.block1 {
    background-color: #9DD6EB;
    padding: 20px;
}
.block1 .left {
    margin-left: 75px;
    
    font-size: 2em;
    width: 30%;
    
}
.block1 .right {
    margin-right: 75px;
    
}
body {
    font-family: 'Roboto', sans-serif;
}
.block1 .right img{
    width: 700px;
    height: 360px;
    
}
.block1 .d-flex{
    justify-content: space-between;
}
.block2 {
    background-color: #97EF9A;
    padding: 20px;
}
.subtitle {
    margin-left: 75px;
    font-size: 2em;
    padding: 15px;
}
.column {
    margin-left: 75px;
    margin-right: 75px;
}

.block3 {
    background-color: #6E5FF0;
    padding: 20px;
}
.block4 {
    padding: 20px;

}
.column.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.process-item {
    border: 3px solid  black;
    width: 276px;
    height: 214px;
    background-color: white;
    font-size: 2em;
    

    
}
.process-item p{
    display: flex;
    justify-content: center;  
    text-wrap: wrap;
    align-items: center;  
    text-align: center;  
    height: 100%;  
}

.feature-item {
    border: 3px solid  black;
    width: 360px;
    height: 450px;
    background-color: white;
    
}
.feature-item h3{
    font-size: 1.75em;
}
.feature-item p{
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 15px;
}
.block3 .feature-item img{

    margin: 15px 15px 15px 15px;
    width: 288px;
    height: 203px;

}
.block3 .feature-item {
    text-align: center;
}
.pricing-item {
    border: 3px solid  black;
    background-color: white;
    width: 280px;
    height: 340px;
    
}
.pricing-item strong{
    font-size: 3em;
    
}
.pricing-item h3{
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
}
.pricing-item p{
    margin-left: 20px;
}
.description {
    font-size: 1.5em;
}
